/*********COLORS*****************************************
#2b2e4a
#e84545
#903749
#53354a
****/
/******************General Style****************************/
body{
  background: #2b2e4a;
  color: white;
  font-family: monospace;
  font-size: 16px;

}

hr {
  border-color: #903749;
  border-style: dotted none none none;
  border-width: 5px;
  width: 20%;

}

h1 {
    color: #2b2e4a;
}

 h3 {
  color: #2b2e4a;
  font-size: 20px;
}



a {
  color: lightblue;
}

.background-box{
  margin: 15px;
  padding: 15px;
  background: linear-gradient(#903749, #53354a);
  border-radius: 25px;
}


/******************Header****************************/
